
<div class="col-xs-3">
  <div class="profile-container">
    <h2>User info</h2>
    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img pull-left profile-img", fallback: "no_image.jpg" %>
    <table class = "table">
    <tr>
  		<th>name</th>
  		<th><h3 class="profile-name"><%= user.name %></h3></th>
    </tr>
    <tr>
  	 <th>introduction</th>
  	 <th><p class = "profile-introduction"><%= user.introduction %></p></th>
    </tr>
    </table>
  </div>
  <p><%= link_to "", edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>


  <div class = "new book">
	<h2>New book</h2>
  <%= form_for(book, url: books_path) do |f| %>
    <div class = "field">
      <div class="field_with_errors">
        <label>Title</label>
      </div>
      <div class="field_with_errors">
        <%= f.text_field :title %><br>
      </div>
    </div>
    <div class = "field">
      <div class="field_with_errors">
        <label>Opinion</label>
      </div>
      <div class="field_with_errors">
        <%= f.text_area :body %>
      </div>
    </div>
    <br><%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %></br>
    <% end %>
  </div>
</div>
