
<h2>User info</h2>


<% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<%= form_for(@user) do |f| %>
  <div class="form-group has-icon">
    <p class="control-label sr-only" for="inputEmail">Name</p>
    <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
  </div> <!--名前変更-->
  
  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputEmail">Image</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
  </div> <!--プロフィール画像変更-->

  <div class="form-group has-icon">
    <label class="control-label sr-only" for="inputEmail">Introduction</label>
    <%= f.text_area :introduction, autofocus: true, class:"form-control", id:"inputEmail" %>
  </div> <!--自己紹介変更-->

  <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>